.row {
	display: flex;
	justify-content: center;
	border-style: none;
}
div {
	border-style: solid;
	border-radius: 20pc;
	border-width: 5px;
	min-width: 50px;
	min-height: 50px;
}
*/ main {
	/* background-color: blanchedalmond; */
	width: 100vh;
}
h1,
h3 {
	display: flex;
	justify-content: center;
}
div {
	background-color: blanchedalmond;
}
.row {
	display: flex;
	justify-content: center;
	background-color: white;
	background-color: grey;
}

#one {
	background-color: yellow;
}
#two {
	background-color: blue;
}
#three {
	background-color: red;
}
#four {
	background-color: green;
}

.removeClick {
	pointer-events: none;
	
}
#message{
	display: flex;
	justify-content: center;
}
.red{
	color: red;
}
.glow {
  
  color: white;
  
  
}
#score{
	border-radius: none;
	display: flex;
	justify-content: center;
	width: 1px;
	height: 1px;
}
body{
	background-color: grey;
}